{{define "fragments.forms.input"}}
<div class="form-field">
    <label for="input_{{.Name}}" class="form-label">
        {{.Label}}
        {{if .Required}}
        <span class="text-danger">*</span>
        {{end}}
    </label>
    <div class="input-group has-validation" x-data="{ showPassword: false }">
        {{if .IconStart}}
        <span class="input-group-text">
            <i data-feather="{{.IconStart}}"></i>
        </span>
        {{end}}
        <input id='input_{{.Name}}" name="{{.Name}}' {{if eq .Type "password" }}
            :type="showPassword ? 'text' : 'password'" {{else}} type='{{if .Type}}{{.Type}}{{else}}text{{end}}' {{end}}
            class="form-control {{if .Error}}is-invalid{{end}}" placeholder="{{ifelse .Placeholder .Label}}"
            autocomplete="{{ifelse .Autocomplete .Name}}" {{if .Required}}required{{end}} value="{{.Value}}" />

        {{if .IconEnd }}
        <span class="input-group-text">
            <i data-feather='{{.IconEnd}}'></i>
        </span>
        {{end}}
        {{if eq .Type "password"}}
        <button type="button" @click="showPassword = !showPassword" class="input-group-text btn-text">
            <i x-show="!showPassword" data-feather="eye"></i>
            <i x-show="showPassword" data-feather="eye-off"></i>
        </button>
        {{end}}
    <div class="invalid-feedback">
        {{.Error}}
    </div>

    </div>
</div>
{{end}}