package forms

import "github.com/ashish9868/rapidbackend/utils"
import "fmt"

templ FileInput(formId string, props InputBaseProps) {
	@InputBase(formId, props) {
		{{ varient := utils.Coalesce(props.Varient, "default") }}
		<div class="flex flex-col">
			<div class="cursor-pointer border-white border-dotted border-2 rounded-lg bg-surface px-2 my-2 py-4  text-center hover:border-gray-400 flex flex-col relative">
				<input
					{ props.MakeAttrs(Attr{
                        Name: "class", Value: "w-full h-full top-0 absolute opacity-0",
                    })... }
					@change="files = [...$event.target.files].slice(0, $event.target.dataset.max); $event.target.value = '';"
				/>
				<small class={ fmt.Sprintf("text-%s-text text-[0.65rem] text-center", varient) }>Maximum $max files are allowed.</small>
			</div>
			<div class="flex items-center gap-3 rounded-lg bg-surface p-2">
				<div class="flex h-16 w-16 items-center justify-center rounded bg-surface-hover text-3xl">
					📄
				</div>
				<div class="flex-1 overflow-hidden">
					<div x-text="file.name" class={ fmt.Sprintf("truncate text-sm text-%s-text", varient) }></div>
					<div class={ fmt.Sprintf("text-xs text-%s-text", varient) } x-text="file.size"></div>
				</div>
				<button type="button" @click="files.splice(index, 1)" class={ fmt.Sprintf("rounded-full p-2 bg-red-500 hover:bg-red-600 text-%s-text cursor-pointer flex align-center items-center text-[1.2rem] text-center", varient) }>
					@Icon("x", Attr{
						Name: "class", Value: "text-xs text-center",
					})
				</button>
			</div>
		</div>
	}
}
