package forms

import (
	"fmt"
	"strings"
)

templ Input(props InputBaseProps) {
	@InputBase(props) {
		<div
			{ AppendAttrs([]Attr{
            {Name: fmt.Sprintf("data-signals:show_%s", props.Name), Value: "false", Hide: props.Type != "password"},
            {Name: "class", Value: "flex justify-between py-1 relative"},
        })... }
		>
			@Icon(props.IconBefore)
			if (strings.EqualFold(props.Type, "textarea")) {
				<textarea
					x-init="$el.style.height = 'auto'; $el.style.height = $el.scrollHeight + 'px'"
					@input="$el.style.height = 'auto'; $el.style.height = $el.scrollHeight + 'px'"
					{ props.MakeAttrs(Attr{
                Name: "class",
                Value: "w-full outline-none focus-none text-white text-xs py-1 resize-none overflow-hidden",
            })... }
				>{ props.Value }</textarea>
			} else {
				<input
					{ props.MakeAttrs([]Attr{
                        {Name: "class", Value: "w-full outline-none focus-none text-white text-xs py-1"},
                    {Name: "data-attr:type", Value: fmt.Sprintf("$show_%s ? 'text':'password'", props.Name), Hide: props.Type != "password"},
                    }...)... }
				/>
			}
			@Icon(props.IconAfter)
			if (strings.EqualFold(props.Type, "password")) {
				<button
					{ AppendAttrs([]Attr{
                {Name: "type", Value: "button"},
                {Name: "class", Value: "text-white"},
                {Name: "data-on:click", Value: fmt.Sprintf("$show_%s = !$show_%s", props.Name, props.Name)},
                })... }
				>
					@Icon("eye", []Attr{
						{Name: "data-show", Value: fmt.Sprintf("!$show_%s", props.Name)},
					}...)
					@Icon("eye-off", []Attr{
						{Name: "data-show", Value: fmt.Sprintf("$show_%s", props.Name)},
					}...)
				</button>
			}
		</div>
	}
}
