package forms

import (
	"fmt"
	"github.com/ashish9868/rapidbackend/utils"
	"strings"
)

templ Input(formId string, props InputBaseProps) {
	@InputBase(formId, props) {
		{{
			varient := utils.Coalesce(props.Varient, "default")
			showVar := props.BuildSignalVar(formId, "show")
			showVarAccess := props.BuildSignalAccessVar(formId, "show")
		}}
		<div
			{ AppendAttrs([]Attr{
            {Name: showVar, Value: "false", Hide: props.Type != "password"},
            {Name: "class", Value: "flex justify-between py-1 relative"},
        })... }
		>
			@Icon(props.IconBefore)
			if (strings.EqualFold(props.Type, "textarea")) {
				<textarea
					x-init="$el.style.height = 'auto'; $el.style.height = $el.scrollHeight + 'px'"
					@input="$el.style.height = 'auto'; $el.style.height = $el.scrollHeight + 'px'"
					{ props.MakeAttrs(Attr{
                Name: "class",
                Value: fmt.Sprintf("w-full outline-none focus-none text-%s-text text-xs py-1 resize-none overflow-hidden", varient),
            })... }
				>{ props.Value }</textarea>
			} else {
				<input
					{ props.MakeAttrs([]Attr{
                        {Name: "class", Value: fmt.Sprintf("w-full outline-none focus-none text-%s-text text-xs py-1", varient)},
                    	{Name: "data-attr:type", Value: fmt.Sprintf("%s ? 'text':'password'", showVarAccess), Hide: props.Type != "password"},
                    }...)... }
				/>
			}
			@Icon(props.IconAfter)
			if (strings.EqualFold(props.Type, "password")) {
				<button
					{ AppendAttrs([]Attr{
						{Name: "type", Value: "button"},
						{Name: "class", Value: fmt.Sprintf("text-%s-text", varient)},
						{Name: "data-on:click", Value: fmt.Sprintf("%s = !%s", showVarAccess, showVarAccess)},
                })... }
				>
					@Icon("eye", []Attr{
						{Name: "data-show", Value: fmt.Sprintf("!%s", showVarAccess)},
					}...)
					@Icon("eye-off", []Attr{
						{Name: "data-show", Value: fmt.Sprintf("%s", showVarAccess)},
					}...)
				</button>
			}
		</div>
	}
}
