package forms

import (
	"fmt"
	"github.com/ashish9868/rapidbackend/utils"
)

templ Select(formId string, props InputBaseProps) {
	{{
		varient := utils.Coalesce(props.Varient, "default")
		fieldId := props.BuildID(formId)
	}}
	<div
		class={ fmt.Sprintf("relative w-full flex flex-col bg-%s-light hover:bg-%s gap-y-1 px-4 py-2 rounded-lg w-full", varient, varient) }
		data-signals={ fmt.Sprintf(`{"_%s_open":false,"_%s_selected":%s, "_%s_multiple":%t}`, fieldId, fieldId, props.Selected, fieldId, props.Multiple) }
		data-on:click__outside={ fmt.Sprintf("$_%s_open = false", fieldId) }
	>
		<!-- Selected chips -->
		<label class={ fmt.Sprintf("flex text-%s-text font-bold text-xs pt-1", varient) } for={ fmt.Sprintf("select_id_%s", fieldId) }>
			<div class="flex flex-col gap-2 w-full">
				<span class="flex gap-2 items-center">
					@Icon(props.LabelIcon)
					{ props.Label }
					if props.Required {
						<i class="text-red-500 font-bold">*</i>
					}
				</span>
			</div>
		</label>
		<div
			class="flex min-h-14 w-full flex-wrap items-center gap-2 rounded-lg p-2"
			data-on:click={ fmt.Sprintf(
				"evt.stopPropagation(); $_%s_open = !$_%s_open",
				fieldId,
				fieldId,
			) }
		>
			for _, option := range props.Options {
				<div
					data-class:rounded-full={ fmt.Sprintf("$_%s_multiple", fieldId) }
					data-class:border={ fmt.Sprintf("$_%s_multiple", fieldId) }
					data-class:border-neutral-600={ fmt.Sprintf("$_%s_multiple", fieldId) }
					data-class:px-2={ fmt.Sprintf("$_%s_multiple", fieldId) }
					data-class:py-2={ fmt.Sprintf("$_%s_multiple", fieldId) }
					class={ fmt.Sprintf("flex w-auto items-center gap-2 text-sm text-%s-text", varient) }
					style="display: none"
					data-show={ fmt.Sprintf(
						"$_%s_selected.includes('%s')",
						fieldId,
						option.Value,
					) }
				>
					<span>{ option.Label }</span>
					if props.Multiple {
						<button
							type="button"
							class={ fmt.Sprintf("flex cursor-pointer items-center justify-center rounded-full text-%s-text hover:text-red-700", varient) }
							data-on:click={ fmt.Sprintf(
								"evt.stopPropagation(); $_%s_selected = $_%s_selected.filter(x => x !== '%s');",
								fieldId,
								fieldId,
								option.Value,
							) }
						>
							×
						</button>
					}
				</div>
			}
			<!-- Placeholder -->
			<span
				class="px-1 text-sm text-neutral-500"
				data-show={ fmt.Sprintf(
					"$_%s_selected.length === 0",
					fieldId,
				) }
				style="display: none"
			>
				{ props.MakePlaceholder() }
			</span>
			<!-- Chevron -->
			<div class="ml-auto shrink-0 text-%s-text">
				@Icon("chevron-down", []Attr{
					{Name: "class", Value: "transition-transform"},
					{Name: "data-class:rotate-180", Value: fmt.Sprintf("$_%s_open", fieldId)},
				}...)
			</div>
		</div>
		<!-- Dropdown -->
		<div
			class="absolute z-50 mt-2 w-full bg-black overflow-hidden rounded-lg p-2"
			data-show={ fmt.Sprintf(
				"$_%s_open",
				fieldId,
			) }
		>
			for _, option := range props.Options {
				<div
					class="flex items-center gap-4 rounded-lg px-4 py-3 text-xs hover:bg-blue-800"
					if !option.Disabled {
						if props.Multiple {
							data-on:click={ fmt.Sprintf(
								"$_%s_selected.includes('%s') ? $_%s_selected = $_%s_selected.filter(x => x !== '%s') : $_%s_selected = [...$_%s_selected, '%s']; $_%s_open = !$_%s_open",
								fieldId,
								option.Value,
								fieldId,
								fieldId,
								option.Value,
								fieldId,
								fieldId,
								option.Value,
								fieldId,
								fieldId,
							) }
						} else {
							data-on:click={ fmt.Sprintf(
								"$_%s_selected = ['%s']; $_%s_open = false",
								fieldId,
								option.Value,
								fieldId,
							) }
						}
					}
				>
					<div class="min-w-0 flex-1">
						<div class="font-semibold text-%s-text">
							{ option.Label }
						</div>
						if option.Subtitle != "" {
							<div class="text-sm text-neutral-400">
								{ option.Subtitle }
							</div>
						}
					</div>
					<!-- Checkmark -->
					@Icon("check", []Attr{
						{Name: "style", Value: "display:none;color:white;"},
						{Name: "data-show", Value: fmt.Sprintf("$_%s_selected.includes('%s')", fieldId, option.Value)},
					}...)
				</div>
			}
		</div>
		<!-- Actual submitted values -->
		<select
			{ AppendAttrs([]Attr{
				{Name: "class", Value: "sr-only hidden" },
				{Name: "name", Value: props.Name },
				{Name: "multiple", Hide: !props.Multiple },
			})... }
		>
			for _, option := range props.Options {
				<option
					{ AppendAttrs([]Attr{
						{Name: "value", Value: option.Value },
						{Name: "data-attr:selected", Value: fmt.Sprintf("$_%s_selected.includes('%s')",fieldId,option.Value) },
					})... }
				>{ option.Label }</option>
			}
		</select>
	</div>
}
