package pages

import (
	"github.com/ashish9868/rapidbackend/dto"
	"github.com/ashish9868/rapidbackend/templates/components/forms"
	"github.com/ashish9868/rapidbackend/templates/layouts"
	"github.com/ashish9868/rapidbackend/utils"
)

templ LoginForm(login *dto.LoginForm, errors map[string]any) {
	@forms.Form(&forms.FormProps{
		ID:     "superadmin_login_form",
		Action: "/login",
		Method: "post",
		Fields: []forms.InputBaseProps{
			{Type: "email", Name: "email", Label: "Email", LabelIcon: "mail", Placeholder: "Enter Name", Value: login.Email, Error: utils.SafeGetMapValue(errors, "email", "")},
			{Type: "password", Name: "password", Label: "Password", LabelIcon: "key", Placeholder: "Enter Name", Error: utils.SafeGetMapValue(errors, "password", "")},
			{Type: "submit", Varient: "default", Label: "Login", IconBefore: "arrow-right"},
			{Type: "custom", CustomComponent: layouts.RunJs(), ItemSize: 12},
		},
	})
}

templ LoginPage() {
	@layouts.PublicLayout() {
		@LoginForm(&dto.LoginForm{}, map[string]any{})
	}
}
