package layouts

templ BaseLayout() {
	<html>
		<head>
			<script type="module" src="/static/js/datastar.min.js"></script>
			<link rel="stylesheet" href="/static/css/app.css"/>
			<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"/>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"/>
			<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
			<style type="text/tailwindcss">
				@theme {
					/* Semantic colors */
					--color-primary: #000000;      /* sky-500 */
					--color-success: #22c55e;      /* green-500 */
					--color-warning: #f59e0b;      /* amber-500 */
					--color-danger: #ef4444;       /* red-500 */
				}
			</style>
		</head>
		<body class="bg-[#1c1c1c]">
			{ children... }
		</body>
	</html>
}
