<!-- Trigger Button -->
{{define "templates/fragments/dialog/open"}}

<!-- Dialog Element -->
<dialog
    class="backdrop:bg-slate-900/50 backdrop:backdrop-blur-sm rounded-lg p-0 shadow-xl overflow-hidden max-w-{{coalesce .Size `lg`}} w-full border border-slate-200 open:animate-in open:fade-in open:zoom-in-95 open:duration-200">
    <!-- Modal Container -->
    <div class="p-6">
        <!-- Header -->
        <div class="flex items-start justify-between">
            <h3 class="text-base font-semibold text-slate-900">{{coalesce .Title ``}}</h3>
            {{if .Closable}}
            <button id="closeModal" title="Close Dialog">
                <i data-lucide="x" class="w-4 h-4"></i>
            </button>
            {{end}}
        </div>

        <!-- Body Content -->
        <div class="mt-2">
            {{end}}

            {{define "templates/fragments/dialog/close"}}

        </div>

    </div>
</dialog>

<script>
    {
        const modal = document.querySelector('#tmp dialog');
        const closeModal = document.querySelector('#tmp #closeModal');
        // This instantly pops it over everything else and enables the backdrop blur
        setTimeout(() => {
            modal.showModal();
        }, 200)

        closeModal.addEventListener('click', () => {
            // document.querySelector('#tmp').innerHTML = ""
            modal.close()
        })
        lucide.createIcons();
    }
</script>
{{end}}