package components

templ Icon(name string, attrs ...Attr) {
	if (len(name) > 0) {
		<i class={ "ti ti-" + name } { AppendAttrs(attrs)... }></i>
	}
}

templ Spinner() {
	<svg
		class="h-4 w-4 animate-spin"
		viewBox="0 0 24 24"
		fill="none"
	>
		<circle
			cx="12"
			cy="12"
			r="10"
			stroke="currentColor"
			strokeWidth="4"
			class="opacity-25"
		></circle>
		<path
			fill="currentColor"
			class="opacity-75"
			d="M12 2a10 10 0 0 1 10 10h-4a6 6 0 0 0-6-6V2z"
		></path>
	</svg>
}
